@page "/fooditems/details"
@using Microsoft.EntityFrameworkCore
@using PersonalFitnessApp.Domain
@using PersonalFitnessApp.Data
@inject PersonalFitnessAppContext DbContext
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>FoodItem</h2>
    <hr />
    @if (fooditem is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@fooditem.Name</dd>
            <dt class="col-sm-2">Calories</dt>
            <dd class="col-sm-10">@fooditem.Calories</dd>
            <dt class="col-sm-2">Carbohydrates</dt>
            <dd class="col-sm-10">@fooditem.Carbohydrates</dd>
            <dt class="col-sm-2">Protein</dt>
            <dd class="col-sm-10">@fooditem.Protein</dd>
            <dt class="col-sm-2">Fibre</dt>
            <dd class="col-sm-10">@fooditem.Fibre</dd>
        </dl>
        <div>
            <a href="@($"/fooditems/edit?id={fooditem.Id}")">Edit</a> |
            <a href="@($"/fooditems")">Back to List</a>
        </div>
    }
</div>

@code {
    private FoodItem? fooditem;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var context = DbContext;
        fooditem = await context.FoodItem.FirstOrDefaultAsync(m => m.Id == Id);

        if (fooditem is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
